@import "../variables";

html {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  overflow-y: scroll;
}

body {
  height: 100%;
  margin: 0;
  font-family: $app-font !important;
  background-color: $app-background;
}

/* Turn Off Number Input Spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.app-background {
  background: $app-background !important;
}

.overflow-y {
  overflow-y: scroll;
}

.app-process-modal.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.app-table {
  min-width: 798px;
}

.table > thead > tr > th {
  border-bottom: none;
  border-top: none;
}

.app-container {
  padding-top: 4.5rem;
}

/* Override bootstrap*/
.custom-file-input:focus ~ .custom-file-label::after {
  border-color: $app-color-primary;
}

.custom-file-label {
  color: $app-color-primary;
  padding: 0.375rem 1.25rem;
  border: 1px solid $app-color-primary;
  border-radius: $app-material-border-radius;
}

.custom-file-label::after {
  color: $app-color-primary;
  background: #fff;
  border-left: 1px solid $app-color-primary;
}

.custom-file-input:focus {
  outline: none;
  box-shadow: none;
}

.custom-file-input:focus ~ .custom-file-label {
  outline: none;
  border-color: $app-color-primary;
  box-shadow: none;
}

.form-control {
  border-radius: $app-material-border-radius;
}

.form-control, .form-control.is-valid {
  border: 1px solid $app-color-primary;
}

.form-control:focus, .form-control.is-valid:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem $app-color-primary;
}

.card {
  border-radius: $app-material-border-radius
}

.list-group-item-action:hover {
  background: $app-color-grey;
}

.card-header-background {
  background: $app-color-grey !important;
}

.card-header {
  background: $app-color-grey !important;
  border-bottom: none;
}

.card-header-btn-padding {
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
}

.card-body {
  padding: 1rem;
}

.w-20 {
  width: 20% !important;
}

.w-40 {
  width: 40% !important;
}

.w-2-rem {
  width: 2rem;
}

.w-3-rem {
  width: 3rem;
}

.w-5-rem {
  width: 5rem;
}

.w-8-rem {
  width: 8rem;
}

.w-500-px {
  width: 500px;
}

.h-1-5-rem {
  max-height: 1.5rem;
}

.lh-3-rem {
  line-height: 3rem
}

.h-3-rem {
  height: 3rem;
}

.h-10-rem {
  min-height: 10rem;
  max-height: 10rem;
}

.h-15-rem {
  min-height: 15rem;
  max-height: 15rem;
}

.h-12-5-rem {
  min-height: 12.5rem;
  max-height: 12.5rem;
}

.h-14-rem {
  min-height: 14rem;
  max-height: 14rem;
}

.max-h-20-rem {
  max-height: 20rem;
}

.my-1-rem {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pt-0-75-rem, .py-0-75-rem {
  padding-top: 0.75rem;
}

.pb-0-75-rem, .py-0-75-rem {
  padding-bottom: 0.75rem;
}

.app-disabled-row {
  opacity: 0.65;
}

.app-disabled, .app-disabled:hover {
  color: #6c757d;
  background-color: #fff;
}

.rotate-90 {
  transform: rotate(90deg);
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}

.app-material-border-radius {
  border-radius: $app-material-border-radius;
}

.app-material-border-radius-top {
  border-top-left-radius: $app-material-border-radius;
  border-top-right-radius: $app-material-border-radius;
}

.app-material-border-radius-bottom {
  border-bottom-left-radius: $app-material-border-radius;
  border-bottom-right-radius: $app-material-border-radius;
}

.app-modal-action {
  margin-left: -1.25rem !important;;
  margin-right: -1.25rem !important;;
  margin-bottom: -1.25rem !important;
  background: $app-color-grey;
}

.app-table-row {
  background: white;
}

.app-table-row-hover:hover, .app-table-row:hover {
  background: $app-color-grey;
}

.app-expanded-first-row {
  margin: 0 -1rem 3rem -1rem !important;
}

.app-expanded {
  margin: 3rem -1rem !important;
}

.app-text-underline {
  text-decoration: underline !important;
}

.app-text-decoration-none {
  text-decoration: none !important;
}

.app-tab-content-margin {
  margin: 1rem 0.1rem;
}

.font-size-1-25-rem {
  font-size: 1.25rem;
}

.font-size-1-rem {
  font-size: 1rem;
}

.font-bold {
  font-weight: 500;
}
