@import "../variables";

.app-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.app-menu-active .mat-button-wrapper {
  border-bottom: 3px solid white;
  padding-bottom: 17px;
}

.app-active-page {
  font-size: 1.25rem;
}
