.app-menu-nav {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: fixed;
  width: 232px;
  top: 56px;
  z-index: 1;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
}

.app-hide-menu {
  -webkit-transform: translateX(-242px);
  transform: translateX(-242px);
}

.app-menu {
  bottom: 0;
  color: #616161;
  line-height: 40px;
  padding: 12px 8px 12px;
  position: absolute;
  white-space: nowrap;
  width: 216px;
  top: 0;
  overflow: auto;
}

.app-menu-sub-header {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  margin-top: -8px;
  margin-left: -8px;
  height: 48px;
  line-height: 16px;
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  align-items: center;
}

.app-menu-ul {
  list-style: none;
  box-sizing: border-box;
  padding: 0 0 8px 0;
  position: relative;
}

.app-menu-item {
  padding-left: 16px;
  padding-right: 12px;
  cursor: pointer;
}

.app-menu-item:hover {
  background-color: rgba(0, 0, 0, .03);
  border-radius: 2px;
}

.app-menu-item-active {
  background: rgba(0, 0, 0, .05);
}

.app-menu-item-value-active {
  font-weight: bold;
  color: #212121;
}

.app-menu-item-value {
  display: inline-block;
  padding-left: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-flex: 1;
  flex: 1;
}

.menu-logo {
  bottom: 0;
  color: #616161;
  position: absolute;
}

.app-menu-padding {
  padding-left: 232px;
}

@media (max-height: 550px) {
  .menu-logo {
    position: relative !important;
  }
}
