<div class="loading">
    <mat-card>
        <p><label>uuid: </label> {{containerId}}</p>
        <p><label>goal: </label> {{goal}}</p>
        <p><label>step: </label> {{step}}</p>
    </mat-card>

    <ngx-loading [show]="isLoading"
        [config]="{animationType: ngxLoadingAnimationTypes.chasingDots,  primaryColour: '#ffffff', secondaryColour: '#ccc', tertiaryColour: '#ffffff', backdropBorderRadius: '3px'}">
    </ngx-loading>
</div>