<!-- todo -->
<nav class="app-menu-nav" [class.app-hide-menu]="showMenu === false">
    <div class="app-menu">
        <div *ngFor="let m of menu">
            <div class="d-flex align-items-center app-menu-item" (click)="onMenu(m)"
                [class.app-menu-item-active]="m.subMenu?.length < 2 && m.active === true">
                <mat-icon>{{ m.icon }}</mat-icon>
                <span class="app-menu-item-value"
                    [class.app-menu-item-value-active]="m.active === true">{{ m.name }}</span>
                <div class="d-flex align-items-center" *ngIf="m.subMenu.length > 1">
                    <mat-icon *ngIf="m.subMenu?.length > 0 && m.active === false" class="rotate-90">arrow_drop_down
                    </mat-icon>
                    <mat-icon *ngIf="m.subMenu?.length > 0 && m.active === true">arrow_drop_down</mat-icon>
                </div>
            </div>
            <div *ngIf="m.active === true && m.subMenu.length > 1">
                <div *ngFor="let s of m.subMenu">
                    <div class="ml-4 d-flex align-items-center app-menu-item" (click)="onMenu(s)"
                        [class.app-menu-item-active]="s.active === true">
                        <mat-icon>{{ s.icon }}</mat-icon>
                        <span class="app-menu-item-value"
                            [class.app-menu-item-value-active]="s.active === true">{{ s.name }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>