<div class="loading">

  <mat-card class=".mat-card-flat">
    <mat-card-header class="d-flex flex-row" style="margin-left:-8px;">
      <div class="d-flex align-items-center flex-fill">Alternatives</div>
      <div class="d-flex align-items-center ml-auto p-2">
        <button mat-mini-fab color="accent" (click)="onAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-list>
      <mat-list-item *ngFor="let alternative of alternativeList; let i = index;">
        <div mat-line>
          {{alternative}}
        </div>
        <button mat-icon-button color="primary" (click)="openDialog(i, alternative)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(i)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <ngx-loading [show]="isLoading"
    [config]="{animationType: ngxLoadingAnimationTypes.chasingDots,  primaryColour: '#ffffff', tertiaryColour: '#ffffff', backdropBorderRadius: '3px'}">
  </ngx-loading>
</div>