<app-header></app-header>
<app-menu></app-menu>
<div [ngClass]="{'app-content' : menuOpened === true, 'container' : menuOpened === false}" class="app-content-padding">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
