<div [formGroup]='goalFormGroup' class="containter">
  <div class="row">
    <mat-form-field>
      <mat-label>New Goal</mat-label>
      <input matInput placeholder="Goal text" formControlName="newGoal">
    </mat-form-field>
    <div class="align-middl">
      <button mat-stroked-button color="primary" (click)="onCreateGoal()">Create</button>
    </div>
  </div>
  <div class="row align-middl">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Process ID" formControlName="searchId">
    </mat-form-field>
    <div class="align-middl">
      <button mat-stroked-button color="primary" (click)="onSearchContainer()">Search</button>
    </div>
  </div>
</div>