<div class="app-header">
  <header class="navbar navbar-expand ml-auto mat-bg-primary mat-elevation-z1">
    <button mat-icon-button class="text-white" (click)="onToggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" href="#">APH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>
</div>