<mat-horizontal-stepper [linear]=true #stepper>
  <mat-step>
    <ng-template matStepLabel>Init</ng-template>
    <app-init-step></app-init-step>
    <div>
      <button mat-button matStepperNext (click)="save()">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Criteria PCM</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Alternative PCM</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Result</ng-template>
  </mat-step>
</mat-horizontal-stepper>