<h1 mat-dialog-title>Edit {{data.entityName}}: {{data.value}}</h1>
<div mat-dialog-content [formGroup]="editForm">
    <mat-form-field>
        <input matInput formControlName="value">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClose()">CANCEL</button>
    <button mat-button (click)="onSave()" cdkFocusInitial>SAVE</button>
</div>