$app-font: Roboto, sans-serif;
$app-background: #fafafa;

$app-color-grey: #F4F4F4;
$app-color-orange: #f19607;
$app-color-orange-light: #F9EAD0;
$app-color-grey-text: #757575;
$app-color-grey-secondary: #E0E0E0;

$app-material-border-radius: 4px;

$app-color-primary: #384451;
$app-color-accent: #fe5d44;
$app-color-warn: #FF5240;
$app-color-warn-light: #ffcbc6;
$app-color-attention: #B92D00;
$app-color-attention-light: #C4745F;
$app-color-yellow: #fdd835;

$app-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.10);
