@import "../../../node_modules/@angular/material/theming";
@import "variables";

@include mat-core();

// (http://mcg.mbitson.com)

$mat-primary: (
  50 : #e7e9ea,
  100 : #c3c7cb,
  200 : #9ca2a8,
  300 : #747c85,
  400 : #56606b,
  500 : #384451,
  600 : #323e4a,
  700 : #2b3540,
  800 : #242d37,
  900 : #171f27,
  A100 : #ffcec7,
  A200 : #fe8e7c,
  A400 : #fe7560,
  A700 : #fe5d44,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-warn: (
  50: #ffeae8,
  100: #ffcbc6,
  200: #ffa9a0,
  300: #ff8679,
  400: #ff6c5d,
  500: #ff5240,
  600: #ff4b3a,
  700: #ff4132,
  800: #ff382a,
  900: #ff281c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffcfcd,
  A700: #ffb6b3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$mat-accent: (
  50: #eaf6f5,
  100: #cae9e6,
  200: #a6dbd6,
  300: #82ccc5,
  400: #68c1b8,
  500: #4db6ac,
  600: #46afa5,
  700: #3da69b,
  800: #349e92,
  900: #258e82,
  A100: #cefff9,
  A200: #9bfff3,
  A400: #68ffec,
  A700: #4effe9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$my-material-primary: mat-palette($mat-primary);
$my-material-accent: mat-palette($mat-accent);
$my-material-warn: mat-palette($mat-warn);

$my-material-theme: mat-light-theme($my-material-primary, $my-material-accent, $my-material-warn);

$primary-dark: darken(map-get($mat-primary, 500), 8%);

.ahp-material {
  @include angular-material-theme($my-material-theme);

  .mat-chip-list:focus {
    outline: none;
  }

  .app-select-override.mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0;
  }

  .app-select-override.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .app-select-override.mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .app-alert-message-warn {
    border-left: 4px solid $app-color-warn;
  }

  .app-alert-message-accent {
    border-left: 4px solid $app-color-accent;
  }

  .app-alert-message-primary {
    border-left: 4px solid $app-color-primary;
  }

  .alert-message-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .app-hide-select-arrow {
    max-width: 1px !important;
    max-height: 1px !important;
  }

  .app-hide-select-arrow .mat-select-arrow-wrapper {
    display: none !important;
  }

  .app-hide-select-arrow .mat-form-field-infix {
    max-width: 0 !important;
    width: 0 !important;
  }

  .app-mat-icon,
  .app-mat-icon-without-hover {
    color: $app-color-grey-text;
  }

  .app-mat-icon[disabled]:hover {
    color: $app-color-grey-text;
  }

  .app-mat-icon:hover {
    color: #000;
  }

  .mat-expansion-panel-headers-align .mat-expansion-panel-header-title,
  .mat-expansion-panel-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .mat-expansion-panel-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .mat-color-primary {
    color: $app-color-primary;
  }

  .mat-color-attention {
    color: $app-color-attention;
  }

  .mat-color-accent {
    color: $app-color-accent;
  }

  .mat-color-warn {
    color: $app-color-warn;
  }

  .mat-color-orange {
    color: $app-color-orange;
  }

  .mat-color-yellow {
    color: $app-color-yellow;
  }

  .mat-color-grey-text {
    color: $app-color-grey-text;
  }

  .mat-bg-primary {
    background: $app-color-primary;
  }

  .mat-bg-warn {
    background: $app-color-warn !important;
  }

  .mat-bg-warn-light {
    background: $app-color-warn-light !important;
  }

  .mat-bg-accent {
    background: $app-color-accent;
  }

  .mat-bg-attention {
    background: $app-color-attention;
  }

  .mat-accent-light-item-action:hover {
    background: #cae9e6;
  }

  .mat-warn-item-action {
    background: #ffcbc6 !important;
  }

  .mat-warn-item-action:hover {
    background: #ff8679 !important;
  }

  .mat-attention-item-action {
    background: $app-color-attention-light !important;
  }

  .mat-attention-item-action:hover {
    background: $app-color-attention !important;
  }

  .mat-orange-item-action {
    background: $app-color-orange-light !important;
  }

  .mat-orange-item-action:hover {
    background: #f5b651 !important;
  }

  .mat-bg-accent-light,
  .mat-accent-light-item-action {
    background: #eaf6f5;
  }

  .mat-border-primary {
    border: 1px solid $app-color-primary;
    border-radius: $app-material-border-radius;
  }

  .mat-border-accent {
    border: 1px solid $app-color-accent;
    border-radius: $app-material-border-radius;
  }

  .mat-border-warn {
    border: 1px solid $app-color-warn;
    border-radius: $app-material-border-radius;
  }

  .mat-border-orange {
    border: 1px solid $app-color-orange;
    border-radius: $app-material-border-radius;
  }

  .mat-border-radius {
    border-radius: $app-material-border-radius;
  }

  .mat-bg-grey {
    background: $app-color-grey;
  }

  .mat-bg-orange {
    background: $app-color-orange !important;
  }

  .app-mat-dialog-padding-0 {
    margin: -24px;
  }

  @media (min-width: 1000px) {
    .app-mat-dialog-container {
      width: 750px;
      min-width: 750px;
    }
  }

  @media (min-width: 1200px) {
    .app-mat-dialog-container {
      width: 900px;
      min-width: 900px;
    }
  }

  @media (min-width: 1500px) {
    .app-mat-dialog-container {
      width: 1200px;
      min-width: 1200px;
    }
  }

  @media (min-width: 1900px) {
    .app-mat-dialog-container {
      width: 1500px;
      min-width: 1500px;
    }
  }
}
