@import "ahp-material";
@import "variables";
@import "content/general";
@import "content/footer";
@import "content/header";
@import "content/menu";

@media print {
  .app-content {
    margin-left: 40px !important;
    margin-right: 40px !important
  }
}

.app-content {
  width: 1200px;
  min-width: 512px;
  margin-left: auto;
  margin-right: auto;
}

.app-content-padding {
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}

@media (max-width: 1800px) {
  .app-content {
    width: 66.66%
  }
}

@media (max-width: 1260px) {
  .app-content {
    width: 840px
  }
}

@media (max-width: 920px) {
  .app-content {
    width: auto;
    margin-left: 40px;
    margin-right: 40px
  }
}

@media (max-width: 1632px) {
  .app-content {
    width: auto;
    margin-left: 272px;
    margin-right: 104px;
  }
}
